<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- services -->
    <bean id="b_userDao_2" class="assembly_xml.B_User_2">
        <constructor-arg type="int" value="2"/>
        <constructor-arg type="java.lang.String" value="123456"/>
    </bean>


    <!-- more bean definitions for services go here -->
</beans>